<!DOCTYPE html>
<html lang="en">
    <!-- include partial head.ejs here -->
    <%- include('partials/head.ejs') %>
<body>
     <!-- navigation -->
     <%- include('partials/nav.ejs') %>
    <h1>Edit Meme Page</h1>
    <form method = "POST" action = "/meme/<%= editMeme._id %>?_method=PUT">
        <div>
            <label for = "title">Meme Title: </label>
            <input name = "title" type = "text" value = "<%=editMeme.title%>" />
        </div>
        <div>
            <label for = "image">Meme Image(url): </label>
            <input name = "image" type = "text" value = "<%=editMeme.image%>"/>
        </div>
        <div>
            <label for = "description">Meme Description: </label>
            <input name = "description" type = "text" value = "<%=editMeme.description%>"/>
        </div>
        <input type = "submit" value = "Edit Meme" />
    </form>
</body>
</html>