<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Home Page</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
    <h1>Meme Home Page</h1>
    <div>
        <% for(let i = 0; i < memes.length; i++){ %>
            <div>
                <a href="/<%= i %>"><%=memes[i].title%></a></br>
                <img src="<%=memes[i].image%>" alt="<%=memes[i].title%>"/>
                <p><%=memes[i].description%></p>
            </div>
        <% } %>
    </div>
</body>
</html>