<!DOCTYPE html>
<html lang="en">
    <!-- include partial head.ejs here -->
    <%- include('partials/head.ejs') %>
<body>
    <h1>Meme Home Page</h1>
    <div>
        <% for(let i = 0; i < memes.length; i++){ %>
            <div>
                <a href="meme/<%= i %>"><%=memes[i].title%></a></br>
                <img class = "homeImage" src="<%=memes[i].image%>" alt="<%=memes[i].title%>"/>
                <p><%=memes[i].description%></p>
            </div>
        <% } %>
    </div>
</body>
</html>