<!DOCTYPE html>
<html lang="en">
    <!-- include partial head.ejs here -->
    <%- include('partials/head.ejs') %>
<body>
    <!-- navigation -->
    <%- include('partials/nav.ejs') %>
    <h1>Meme Show Page</h1>
    <div>
        <a href="/meme/<%=id%>/edit"> Edit <%= oneMeme.title %></a>
    </div>
    <h2><%= oneMeme.title %></h2>
    <img class = 'showImage' src = '<%=oneMeme.image%>' alt = '<%=oneMeme.title%>'/>
    <p><%= oneMeme.description %></p>
</body>
</html>