<!DOCTYPE html>
<html lang="en">
    <!-- include partial head.ejs here -->
    <%- include('partials/head.ejs') %>
<body>
    <!-- navigation -->
    <%- include('partials/nav.ejs') %>
    <h1>Meme Show Page</h1>
    <div>
        <a href="/meme/<%=oneMeme._id%>/edit"> Edit <%= oneMeme.title %></a>
    </div>
    <h2><%= oneMeme.title %></h2>
    <img class = 'showImage' src = '<%=oneMeme.image%>' alt = '<%=oneMeme.title%>'/>
    <p><%= oneMeme.description %></p>
    <section>
        <h2>Meme Comments</h2>
        <% for (let i = 0; i<memeComments.length; i++) { %>
            <div>
                <h3>Testing</h3>
            </div>
        <% } %>
    </section>
</body>
</html>